body{
    background-color:white;
}

#wrapper{
    width:100%;
    height:auto;
    
    background-color: rgba(0,0,0,0.6);
    margin-top:10%;
    
    
}


.formclass{
    width:600px;
    height:auto;
    background-color: blue;
    margin:0 auto;
    
}

.class2{
    
}

.labelclass{
    width:20em;
}